@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 30% 97%;
    --foreground: 240 10% 3.9%;
    --card: 240 30% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --red-primary-lighter: #f87171;
    --red-primary: #ef4444;
    --red-primary-darker: #dc2626;
    --red-gradient: linear-gradient(to right, #f87171, #e71515);
    --red-dark-gradient: linear-gradient(to right, #b91c1c, #7c1111);

    --orange-primary-lighter: #fb923c;
    --orange-primary: #f97316; /* Tailwind orange-400 */
    --orange-primary-darker: #ea580c; /* Tailwind orange-500 */
    --orange-gradient: linear-gradient(to right, #fb923c, #d97706);
    --orange-dark-gradient: linear-gradient(to right, #c2410c, #431407);

    --yellow-primary-lighter: #facc15; /* Tailwind yellow-300 */
    --yellow-primary: #eab308; /* Tailwind yellow-400 */
    --yellow-primary-darker: #ca8a04; /* Tailwind yellow-500 */
    --yellow-gradient: linear-gradient(to right, #facc15, #ebaa20);
    --yellow-dark-gradient: linear-gradient(to right, #ca8a04, #854d0e);

    --blue-primary-lighter: #22d3ee; /* Tailwind cyan-300 */
    --blue-primary: #06b6d4; /* Tailwind cyan-400 */
    --blue-primary-darker: #0891b2; /* Tailwind cyan-500 */
    --blue-gradient: linear-gradient(to right, #38bdf8, #0891b2);
    --blue-dark-gradient: linear-gradient(to right, #1d4ed8, #1e3a8a);

    --purple-primary-lighter: #c084fc;
    --purple-primary: #a855f7; /* Tailwind purple-400 */
    --purple-primary-darker: #9333ea; /* Tailwind purple-500 */
    --purple-gradient: linear-gradient(to right, #c084fc, #9333ea);
    --purple-dark-gradient: linear-gradient(to right, #7e22ce, #3b0764);

    --pink-primary-lighter: #f9a8d4; /* Tailwind pink-300 */
    --pink-primary: #f472b6; /* Tailwind pink-400 */
    --pink-primary-darker: #ec4899; /* Tailwind pink-500 */
    --pink-gradient: linear-gradient(to right, #febbd2, #d887b6);
    --pink-dark-gradient: linear-gradient(to right, #f472b6, #be185d);

    --red-primary-50: #fef2f2; /* Tailwind red-50 */
    --orange-primary-50: #fff7ed; /* Tailwind orange-50 */
    --yellow-primary-50: #fefce8; /* Tailwind yellow-50 */
    --blue-primary-50: #f0f9ff; /* Tailwind blue-50 */
    --purple-primary-50: #faf5ff; /* Tailwind purple-50 */
    --pink-primary-50: #fdf2f8; /* Tailwind pink-50 */

    --theme-700: var(--blue-700);

    --theme-primary: var(--blue-primary);
    --theme-gradient: var(--blue-gradient);
    --theme-dark-gradient: var(--blue-dark-gradient);
    --theme-primary-darker: var(--blue-primary-darker);
    --theme-light-bg: var(--blue-primary-50);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.light-bg {
  background: var(--theme-light-bg);
}

.gradient-bg {
  background: var(--theme-gradient);
}

.dark .gradient-bg {
  background: var(--theme-dark-gradient);
}

.theme-text {
  color: var(--theme-primary);
}

.theme-background {
  background-color: var(--theme-primary);
}

.theme-hover {
  transition: background-color 0.2s ease-in-out !important;
}

.theme-hover:hover {
  background: var(--theme-primary-darker) !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .custom-margin-right {
    margin-right: 900px;
  }
  .custom-margin-left {
    margin-left: 1100px;
  }
  .custom-black {
    color: rgb(5, 5, 5);
  }
  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .button-left {
    margin-left: 1750px;
  }
  .footer-right {
    margin-left: 700px;
  }
  .login-form-bg {
    background-color: hsl(0, 0%, 3.9%);
  }
  .height {
    height: 700px;
  }
  .top {
    margin-top: -75px;
  }
  .left {
    margin-left: 500px;
  }
}
.widthOfGrid {
  max-width: 90rem;
}
.topp {
  margin-bottom: 175px;
}

.timer-right {
  margin-left: 800px;
}
.timer-up {
  margin-bottom: 2000px;
}
